<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thoughts-evolution</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href='static/css/thoughts.css'/>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>



<div class="page-header">
    <h3 style="color:black; text-align:center;" > <b> EVOLUTION of THOUGHTS from SCHOLARLY RESOURCES  </b></h3>
</div>



<body style="background-color: white; margin-top: 60px; margin-left: 100px; margin-right: 100px;">

{% block content %}

{% endblock %}



</body>

</html>
