{% extends "base-thoughts.html" %}
{% block content %}    


<div class=page>
  <h4> Report for Case Example of: "Lithium Air Battery" </h4>
</div>


<p style="font-size:130%; text-align:center" > <b><br> Statistics of Top Authors </p>

<div class='matplotlib'>
    <img src="../static/examples/authors_lab.png" style="width:1000px;height:320px;">
</div>

<hr>

<p style="font-size:130%; text-align:center"> <b><br> Statistics of Publication Status and Time-Series Predictions</p>

<div class='matplotlib'>
<img src="../static/examples/years_lab.png" style="width:1000px;height:340px;">
</div>

<hr>

<p style="font-size:130%; text-align:center"> <b><br> Occurence of Most Common Words </p>
<img src="../static/examples/words_lab.png" style="width:1000px;height:350px;">

<hr>

<!-- This is a comment #F2F3F4, #E5E7E9, #D7DBDD-->
<p style="font-size:130%; text-align:center"> <b><br> EVOLUTION OF CONCEPTS </p>
<p style="font-size:130%; text-align:left"> <b> The following will be presented: </p>
<p style="font-size:120%;"> &#9729;  Cloud of 1966-1975 </p>
<p style="font-size:120%;"> &#9729;  Cloud of 2006-2015 </p>
<p style="font-size:120%;"> &#9730;  Projected Word Cloud for 2016-2021 </p>

<img src="../static/examples/cloud1_lab.png" style="width:331px;height:320px;">
<img src="../static/examples/cloud2_lab.png" style="width:331px;height:320px;">
<img src="../static/examples/cloud3_lab.png" style="width:331px;height:320px;">

<hr>
<a href="/thoughts" style="padding-left:0px;">Back to Search</a>

<br><br>
{% endblock %}
